################
# EXPORTS      #
################

export PATH="/Users/YOUR_USERNAME/.local/bin:/Users/YOUR_USERNAME/homebrew/bin:$PATH"


################
# ALIASES      #
################

# rsync
alias copyroms=rsync --delete -azP --exclude=recentlist-hidden.json --exclude=favourite.json --exclude=.DS_Store ~/path/to/Roms/ /Volumes/DEVICE_NAME/Roms


################
# PNPM         #
################

export PNPM_HOME="/Users/YOUR_USERNAME/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac


################
# OPENCODE     #
################

export PATH=/Users/YOUR_USERNAME/.opencode/bin:$PATH
