################
# EXPORTS      #
################

# auto-dedup PATH as entries are prepended or appended
typeset -U path PATH

export PATH="$HOME/.local/bin:$HOME/homebrew/bin:$PATH"


################
# ALIASES      #
################


################
# PNPM         #
################

export PNPM_HOME="$HOME/Library/pnpm"
export PATH="$PNPM_HOME:$PATH"


################
# OPENCODE     #
################

export PATH="$HOME/.opencode/bin:$PATH"
